{% include "base.html" %}

{% block content %}
<div class="container">
<h1>Index Core</h1>

<div class='mb-4'>
  <form method="POST">
    {% csrf_token %}
    <div class='form-group'>
      <label for="input-text">Enter Text</label>
      <textarea name="input_text" id="input-text" class="form-control mb-2" cols="10" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
</div>
{% for embedding in embeddings %}
{{embedding.document}}
<pre>{{embedding.embedding}}</pre>

{% endfor %}

</div>
{% endblock content %}